// output: index.html
doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Search Itunes
        link(rel="stylesheet" href="css/main.css")
        script(src="bower_components/angular/angular.min.js")
        script(src="bower_components/angular-route/angular-route.js")
    body(ng-app="itunesSearch" ng-controller="searchCtrl")
        //- div(ng-include="'html/searchForm.html'")
        //- form#search-from
        //-     label(for="searchbar" form="search-from") Go ahead and search Itunes.
        //-     input#searchbar(type="search" form="search-from" ng-model="searchTerm")
        //-     input(type="checkbox" name="music" value="music")
        //-     | Music
        //-     input(type="checkbox" name="tvshow" value="tvshow")
        //-     | tvShow            
        //-     input#search-submit(type="submit" value="Search" ng-click="doSearch()")
        div(ng-view)
        div( search-results )
        pre {{ results | json }}
        script(src="js/app.js")
        script(src="js/services/itunesData.js")
        script(src="js/controllers/searchCtrl.js")
        script(src="js/directives/searchresults.js")
