// output: searchResults.html
dl(class="{{ result.kind | lowercase }}" ng-repeat="result in results")
    dt 
        span.result-kind {{ result.kind }} 
        a.track-name(href="{{ result.collectionViewUrl }}" target="_blank") {{ result.trackName }}
        span.artist-name Artist name: {{ result.artistName }}
    dd 
        img(ng-src="{{ result.artworkUrl60 }}")
        span Release date: {{ result.releaseDate | date }}
        p {{ result.shortDescription }}
